<link rel="stylesheet" href="/css/profile.css">

<div>
    <div id="profile-back-img">
        <div class="profile-img"></div>
        <p class="name"><%= user.name%></p>
    </div>
    <div id="posts">

    </div>    
</div>
