#posts{
    height: 450px;
    overflow-y: scroll;
    background-color: rgb(64, 60, 60);
    list-style-type: none;
    border-radius: 2px;
    margin-left: 2px;
    padding: 0px;
    *{
        border-radius: 3px;
    }
    li{
        background-color: white;
        text-decoration: none;
        width: 95%;
        margin: auto;
        margin-top: 10px;
        height: 200px;
        overflow-y: scroll;
        padding-left: 5px;
    }
    li::-webkit-scrollbar{
        width: 0px;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
}
#posts::-webkit-scrollbar{
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
#feed-posts{
    width: 50vw;
}
div{
    display: flex;
}