<div style="background-color:chartreuse; border: 1px solid; text-align: center;">
    <p>Hi! <%= post.user.name %></p>
    <p> <b><%= comment.user.name %></b> Commented On your Post<strong> <%= post.content %></strong> on CODEIAL</p>
    <p>Thanks, Team Codeial</p>
</div>