<div style="background-color:beige;">
    <p>Hi <%= comment.post.user.name %>!</p>
    <br>
    <p><%= comment.user.name %> commented On your Post<strong> <%= comment.post.content %></strong> on CODEIAL</p>
    <strong><p><%= comment.content %></p></strong>
    <br>
    <p>Thanks!</p>
</div>