<div style="background-color:beige;">
    <p>Hi <%= comment.post.user.name %>!</p>
    <br>
    <p><%= comment.user.name %> commented On your Post<strong> <%= comment.post.content %></strong></p>
    <p><%= comment.content %></p>
    <br>
    <p>Thanks!</p>
</div>