* {
  position: relative; }

a {
  text-decoration: none;
  color: white; }

#posts {
  height: 450px;
  overflow-y: scroll;
  list-style-type: none;
  border-radius: 5px;
  padding: 0px; }
  #posts * {
    border-radius: 3px; }
  #posts #user-img {
    margin: 2px;
    margin-right: 5px;
    border-radius: 50%;
    height: 50px;
    width: 50px; }
  #posts li {
    color: white;
    background-color: #4c4a4a;
    text-decoration: none;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    height: auto;
    overflow-y: scroll;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px; }
  #posts li::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */ }

#posts::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

#feed-posts {
  width: 60vw;
  margin: auto;
  margin-top: 10px; }
  #feed-posts #new-post-form {
    background-color: #48444E;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 96px;
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    border-radius: 10px;
    justify-content: center; }
    #feed-posts #new-post-form * {
      border: none; }
    #feed-posts #new-post-form #post-content {
      width: 100%;
      height: 35px;
      border-radius: 20px; }
    #feed-posts #new-post-form #post-content:focus {
      outline: none; }
    #feed-posts #new-post-form #post-submit {
      width: 100%;
      height: 30px;
      border-radius: 10px;
      margin: auto; }

div {
  display: flex; }

@media screen and (min-width: 1000px) {
  #feed-posts {
    width: 40vw; } }

@media screen and (max-width: 600px) {
  #feed-posts {
    width: 95vw; } }
